/* Grid, icons */

.conteiner{
    display: grid;

    /*---------------явная сеткага----------------*/
    /* grid-template-columns: 300px 300px; */ /* колумндардын узындыгы, канша жазсан соншасына асер етеды,
     fr деген канша пиксель калды сонын фр болыгы*/
    grid-template-columns: repeat(2, 1fr); /* канша колумн болу керек и сайзы */

    grid-template-rows: 300px 300px; /* роулардын биыктыгы канша жазасн соншасына гана асер етеды, */

    gap: 20px 10px; /* ячейкалардын арасындагы кашыктык */

    /* grid-auto-flow: column; */ /* дефолт бызде астыга карай тастай береды, ал мына жерде сонын багытын жазамыз */

    /* ------------- неявная сеткага---------------*/
    /* флоу кай багытта жане кай значение озгермейды, роу ма колумн ба, сол багытка асер етпейды дефолт */
    grid-auto-columns: 15px; /* астына косылатындардын дефолт значениялары, мысалы казыр астыга карай тусе береды новыйлары
    и колумн озгермейды и сол ушын колумн узындыгы озгермейды */
    grid-auto-rows: 150px;
}

.case:nth-child(1){
    grid-column-start: 1; /* быр элементтын алатын орнын корсетуге болады */ 
    grid-column-end: 3;
}

.case{
    min-height: 100px;
    min-width: 100px;
    background-color: aqua;
    border: 2px solid rgb(0, 0, 0);
}

.fa-user{
    background-color: aqua;
}
