/* Селекторы, вложенность, единицы измерения */

/* Можно использовать другие ксс файлы как в этом примере */
@import url("./reset.css");

/* *{
    All tegs
} */

/* Приоритет у классов выше чем у селекторов, а у айди выше чем у классов */
/* Если хотим обращаться ко всем элементам h1 */
h1 {
    font-size: 20px;
    color: red;
}
/* Если хотим обращаться ко всем классам head1 */
.head1{
    color: yellow;
}
/* Если хотим обращаться к элементам с классом h.head1*/
h1.head1{
    color: green;
}
/* Если хотим обращаться ко всем элементам p с классом parag внутри элемента h1 с классом head1 */
h1.head1 p.parag{
    color: rgb(0, 0, 255);
}
/* Если хотим обращаться к элементам h1 and p */
h1, p{
    color: black;
}
/* Если хочу обращаться к элементу с двумя классами */
p.head1.parag{
    color: aqua;
}
/* Если хотим обратиться к элементу с айди */
#text{                  /* вес html style выше чем в css */
    font-size: 30px /* !important если добавить импортант то оно станет выше чем в html*/;
}

/* Size дын 4 туры бар: px, %, em, rem */
/* px накты размеры
% parent класстын сайзынын пайызы
em парент класстын сайзынын пайызы
rem корневой класстын каншаусы екены */
h1.head1{
    font-size: 30px;
}
html{
    font-size: 30px;
}
p.parag{
    font-size: 1rem;
}