*{
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-sizing: border-box;
}

.container div{
    font-weight: 900;
    color:darkgrey;
}