body{
    background-image: url("hw2.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

*{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
}

.head{
    font-size: 60px;
    font-weight: 600;
}

.secoond{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
}

.thinrd{
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    background-color: #BC6F65;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.fourth{
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    padding: 5px;
}

.fifth{
    text-transform: uppercase;
    text-align: center;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 40px;
}